body{
    background-color: lightcoral;
}
img{
    width: 600px;
}
.main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.one, .two, .three{
    border: 2px solid black; 
    color: blue;
    width: 200px;
}
/* .one{
    flex: 1;
}
.two{
    flex: 1;
}
.three{
    flex: 1;
} */
@media screen and (max-width: 600px) {
img{
    width: 400px;
}

}
@media screen and (max-width: 320px) {
    img{
        width: 200px ;
    }
}