body{
    background-color: lightcoral;
}
img{
    width: 600px;
}
@media screen and (max-width: 600px) {
img{
    width: 400px;
}

}
@media screen and (max-width: 400px) {
    img{
        width: 200px ;
    }
}